html,body{
    margin: 0;
    height: 94.5%;
}


g.axis.y:hover {
    stroke: red;    
}

g.axis.x:hover{
    stroke: red;
}
svg{
    background-color: black;
    margin: 0 auto;     
}
#bg h1{
    display: block;
    margin: 0 auto;
    text-align: center;
}
div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: white;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}